@charset "utf-8";

@font-face {
    font-family: 'splatfont2';
    src: local('Splatfont2 Regular'),
         url('/font/splatfont2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'splatfont';
    src: local('Splatfont Regular'),
         url('/font/splatfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@function rem($pxsize: 16) {
    @return ($pxsize / 16) * 1rem;
}

@mixin fontsize($pxsize) {
    font-size: $pxsize + px;
    font-size: rem($pxsize);
}

$fonts1: splatfont;
$fonts2: splatfont2;

body {
    font-family: $fonts2;
    color: #dddddd;
    background-color: #333333;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.05) 25%, transparent 25% 50%, rgba(255, 255, 255, 0.05) 50% 75%, transparent 75% 100%);
    background-size: 100px 100px;
}

header {
    .title{
        width: 80%;
        max-width: 1200px;
        text-align: center;
        background-color: #111111;
        background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.05) 25%, transparent 25% 50%, rgba(255, 255, 255, 0.05) 50% 75%, transparent 75% 100%);
        background-size: 100px 100px;
        border-radius: 10px;
        padding: 50px 20px;
        box-sizing: border-box;
        margin: 50px auto;

        img {
            width: 75px;
        }
    
        h2{
            @include fontsize(25);
            color: #ffff00;
            margin-top: 30px;
        }

        h1 {
            @include fontsize(40);
            color: #00ff00;
        }

        span {
            display: inline-block;
        }
    }
}

main {
    section{
        padding-top: 100px;
        padding-bottom: 100px;

        &.orange {
            background-color: #dd6600;
            background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.05) 25%, transparent 25% 50%, rgba(255, 255, 255, 0.05) 50% 75%, transparent 75% 100%);
            background-size: 100px 100px;
        }

        &.leadbox {
            margin-top: 100px
        }
    }
    .container {
        width: 80%;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        .icon {
            border-radius: 50%;
            width: 100%;
            max-width: 200px;

            &.small {
                max-width: 150px;
            }
        }
        .flex {
            width: 100%;
            display: flex;
            justify-content: space-between;
            @media (max-width: 640px) {
                flex-direction: column;
                &.members {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }
            & > div {
                @media (min-width: 641px) {
                    flex: 1;
                }
                @media (max-width: 640px) {
                    width: 100%;
                    &.member {
                        width: 48%;
                    }
                }
            }
        }
        h2 {
            font-weight: normal;
            filter: drop-shadow(3px 3px 0 #111111);
        }

        &.leadinnerbox {
            .lead {
                animation-name: wiggle;
                animation-duration: 6s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                @include fontsize(35);
                text-align: center;
                filter: drop-shadow(3px 3px 0 #333333);
    
                span.test {
                    color: #00ff00;
                    text-emphasis: filled dot #00ff00;
                }
                span.bk {
                    display: inline-block;
                }
            }
            h3 {
                margin-top: 30px;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: solid 1px #ffffff;
                font-weight: normal;
                text-align: center;
                @include fontsize(25);
                filter: drop-shadow(3px 3px 0 #111111);
            }
            .date {
                text-align: center;
                filter: drop-shadow(3px 3px 0 #111111);
            }
            .notice {
                margin-top: 20px;
                max-width: 400px;
                margin-right: auto;
                margin-left: auto;
                @include fontsize(13);
            }
            .test {
                max-width: 550px;
                margin: 0 auto;
                p {
                    margin-top: 20px;
                }
                button {
                    display: block;
                    width: 200px;
                    margin: 0 auto;
                    padding: 10px;
                    border: none;
                    border-radius: 40px;
                    @include fontsize(20);
                    color: #222222;
                    background-color: #00ff00;
                    &:disabled {
                        color: #999999;
                        background-color: #666666;
                        &::after {
                            display: inline;
                            content: '締め切りました';
                            margin-left: 10px;
                            @include fontsize(13);
                        }
                    }
                    &.before {
                        &:disabled {
                            &::after {
                                content: '準備中です';
                            }
                        }
                    }
                }
            }
        }
        &.description {
            h2 {
                text-align: center;
                padding-bottom: 50px;
                border-bottom: solid 1px #ffffff;
                margin-bottom: 50px;
            }
            dl {
                dt {
                    @include fontsize(18);
                    color: #00ff00;
                    font-weight: normal;
                }
                dd {
                    margin-left: 30px;
                }
            }
            div {
                @include fontsize(30);
                text-align: center;
                span {
                    display: inline-block;
                }

                &.notice {
                    margin-top: 20px;
                    @include fontsize(16);  
                }
            }
        }

        &.present {
            position: relative;
            .headersample {
                background-color: #999999;
                width: 200px;
                height: 80px;
                padding: 10px 10px 10px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                box-sizing: border-box;
                position: absolute;
                right: 0;
                top: 80px;
                z-index: 10;
                transform: rotate(30deg);
                color: #666666;
                @include fontsize(25);
                .headeridsample {
                    background-color: #666666;
                    border-radius: 5px;
                    color: #444444;
                    width: 70px;
                    height: 40px;
                    transform: rotate(-15deg);
                    text-align: center;
                    @include fontsize(25);
                    font-family: $fonts1;
                }
            }
            h2 {
                text-align: center;
                padding-bottom: 50px;
                border-bottom: solid 1px #ffffff;
                margin-bottom: 50px;
                color: #00ff00;
            }
            h3 {
                &.lead {
                    margin: 30px;
                    margin-bottom: 30px;
                    text-decoration: underline;
                    font-weight: normal;
                    text-align: center;
                    position: relative;
                    z-index: 20;
                    @include fontsize(18);
                    animation-name: wiggle;
                    animation-duration: 5s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
            }
            h4 {
                font-weight: normal;
                text-align: center;
                border-bottom: solid 1px #ffffff;
                padding-bottom: 30px;
                margin-bottom: 30px;
            }
            .flex {
                .left {
                    text-align: center;
                    @media (max-width: 640px) {
                        margin-bottom: 20px;
                    }
                    div {
                        margin-top: 20px;
                    }
                }
                .right {
                    h5 {
                        font-weight: normal;
                        @include fontsize(18);
                        border-bottom: solid 1px #ffffff;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        &.hr {
            h2 {
                text-align: center;
                &.plan {
                    padding-bottom: 50px;
                    border-bottom: solid 1px #ffffff;
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
            h3 {
                text-align: center;
                padding-bottom: 50px;
                border-bottom: solid 1px #ffffff;
                margin-bottom: 50px;
            }
            .member {
                text-align: center;
                @media (max-width: 640px) {
                    margin-bottom: 20px;
                }
                div {
                    margin-top: 20px;
                }
            }
        }
        &.faq {
            h2 {
                text-align: center;
                padding-bottom: 50px;
                border-bottom: solid 1px #ffffff;
                margin-bottom: 50px;
                color: #00ff00;
            }
            dl {
                dt {
                    @include fontsize(20);
                    font-weight: normal;
                    border-bottom: solid 1px #ffffff;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
                dd {
                    margin-left: 30px;
                    margin-bottom: 25px;
                    ol, ul {
                        padding-left: 0;
                    }
                    blockquote {
                        background-color: rgba(0,0,0,.5);
                        padding: 10px;
                        margin-top: 20px;
                    }        
                }
            }
        }
        &.sample {
            h2 {
                text-align: center;
                padding-bottom: 50px;
                border-bottom: solid 1px #ffffff;
                margin-bottom: 50px;
            }
            h3 {
                font-weight: normal;
                margin-top: 40px;
            }
            img {
                width: 100%;
                max-width: 500px;
            }
            blockquote {
                background-color: rgba(0,0,0,.5);
                padding: 10px;
                margin-top: 20px;
            }
        }
    }
    span {
        &.small {
            @include fontsize(12);
        }
    }
}

footer {
    text-align: center;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    95% {
        transform: rotate(0deg);
    }
    96% {
        transform: rotate(3deg);
    }
    97% {
        transform: rotate(-3deg);
    }
    98% {
        transform: rotate(3deg);
    }
    99% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}